<div class="form">

<hr>

    <h1>Welcome to Forget Me Not</h1>

    <hr>

    <% if logged_in? %>
        <h1>You are Logged In, <%= current_user.username %></h1>
        <%= button_to "Log Out", '/logout', method: :get%>
    <% else %>
        <br>
        <%= button_to "Login", '/login', method: :get%>
        <br>
        <%= button_to "Sign Up", '/users/new', method: :get%>
    <% end %>

<hr>

</div>


