// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.buttons {
    .flex-parent {
        display: flex;
      }
      
      .jc-center {
        justify-content: center;
      }
      
      button.margin-right {
        margin-right: 20px;
      }
   
}

.form {
  margin-left: 80px;
  margin-right: 80px;
}

