
.col {
    margin-right: 800px;
 }
 
// .img {
//     height: 250px;
//     width: 400px;
//     padding: 10px;
//     flex: 50wv
// }

.description {
    color: rgb(128, 128, 128);
}

.subtitle {
    
    color: rgb(47, 162, 201);
}

.event-feed {
    color: rgb(47, 162, 201);
}

.fmn-desc {
    color: grey;
}

