// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-header-info{
    text-align: center;
}

.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto; 
        border-radius: 100%;
        width: 150px;
        height: 150px;
}

.buttons {
    .flex-parent {
        display: flex;
      }
      
      .jc-center {
        justify-content: center;
      }
      
      button.margin-right {
        margin-right: 20px;
      }
   
}

a:link {
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(0, 0, 0);
  }
  
  /* selected link */
  a:active {
    color: rgb(0, 0, 0);
  }